@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }


  body {
    @apply bg-slate-900 text-slate-100 antialiased;
    overflow-x: hidden;
    overflow-y: auto;
  }

  html {
    scroll-behavior: smooth;
  }
}
